<div class="jumbotron text-center">
    <h1 class="display-4">Tech Blog</h1>
    <p class="lead">This is a CMS-style blog site. One can publish articles, blog posts and any thoughts and opinions
        related to tech here.</p>
    <hr class="my-4">
</div>