<h1>Dashboard</h1>

<h2>New Blog Post</h2>
<form>
    <p>Title</p>
    <input id='newPostTitle'></input>
    <p>Content</p>
    <input id='newPostBody'></input>
    <button id='newPostSaveBtn'>Save</button>
</form>

<div class="d-flex container-fluid justify-content-center">
    <div class="column col-9">
        {{#each myBlogPosts}}
        <div class="card col my-3 bg-light">
            <div class="card-body bg-light text-dark">
                <h3 class="card-title">{{title}}</h3>
                <h4 class="card-subtitle">{{body}}</h4>
                <br><br>
                {{!-- <h5 class="card-subtitle">Created by: {{myPost.user.username}}</h5> --}}
                <h5 class="card-subtitle">Posted on: {{format_date createdAt}}</h5>
            </div>
        </div>
        {{/each}}
    </div>
</div>