<div class="d-flex container-fluid justify-content-center">
    <div class="column col-9">
        {{#each allBlogPosts}}
        <div class="card col my-3 bg-light">
            <div class="card-body bg-light text-dark">
                <h3 class="card-title">{{title}}</h3>
                <h5 class="card-subtitle mb-2">Posted By: {{user.username}}</h5>
                <h5 class="card-subtitle mb-2">Posted: {{format_date createdAt}}</h5>
                <a name={{id}} class="btn btn-primary text-white viewPost float-right">View</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>