<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h2>Login</h2>
            <br>
            <form>
                <div class="form-group">
                    <input class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary" id="loginBtn">Submit</button>
            </form>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
            <h2>Signup</h2>
            <br>
            <form>
                <div class="form-group">
                    <input class="form-control" id="signupName" aria-describedby="emailHelp" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" id="signupUsername" aria-describedby="emailHelp" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" id="signupEmail" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="signupPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary" id="signupBtn">Submit</button>
            </form>
        </div>
    </div>
</div>