<h2>Login</h2>
<form>
    <p>Email</p>
    <input id='loginEmail'></input>
    <p>Password</p>
    <input id='loginPassword'></input>
    <button id='loginBtn'>Login</button>
</form>

<br>

<h2>Singup</h2>
<form>
    <p>Name</p>
    <input id='signupName'></input>
    <p>Username</p>
    <input id='singupUsername'></input>
    <p>Email</p>
    <input id='signupEmail'></input>
    <p>Password</p>
    <input id='signupPassword'></input>
    <button id='signupBtn'>Signup</button>
</form>